.gameName {
	padding-top: 1%;
	padding-left: 33%;
	font-size: 70px;
	color: floralwhite;
	font-stretch: ultra-expanded;
}

.image {
	padding-left: 20%;
}

.space {
	padding-left: 33%;
}

.links {
	padding-top: 30px;
}

.menuItem {
	padding-left: 100px;
	font-size: 35px;
	color: floralwhite;
	display: inline-block;
}

.menuItem_active {
	padding-left: 100px;
	font-size: 35px;
	color: #ff0606;
	display: inline-block;
}

.text-about {
	font-size: 30px;
	color: floralwhite;
}

.ol-toplist {
	padding-left: 5%;
	font-size: 50px;
	color: floralwhite;
	background-image: none;
}

.text-toplist {
	font-size: 100px;
	color: floralwhite;
}

.button-start-padding {
	padding-left: 46%;
	padding-top: 10%;
}

.button-start {
	 font-size: 30px;
	 padding-top: 30px;
	 padding-left: 30px;
	 padding-bottom: 30px;
	 padding-right: 30px;
 }
.button-move {
	font-size: 30px;
}

.span {
	padding-left: 300px;
	display: inline-block;
}

.table {
	border-spacing: 0 10px;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
}
.table__header {
	padding: 10px 20px;
	background: #ff0000;
	color: #000000;
	border-right: 2px solid;
	font-size: 0.9em;
}
.table__header-active{
	font-weight: 800;
}

td {
	vertical-align: middle;
	padding: 10px;
	font-size: 14px;
	text-align: center;
	border-top: 2px;
	border-bottom: 2px;
	border-right: 2px;
	font-size: 30px;
	color: floralwhite;
}

.gameField{
	position: relative;
	width: 100%;
	height: 15em
}
.pokomon{
	position: absolute;
	width: 3em;
	height: 3em;
	border-radius: 2em;
}